.personalInfoContainer{
    width:100vw;
    height: 100vh;
}
.personalInfoNavbarContainer{
    border: black 1px solid;
    display: flex;
    flex-direction: row;
    margin: 15px;
    border-radius: 10px 100px / 120px;

}