.personalInfoContainer{
    width: 99.4vw;
    height: 100vh;
}
.personalInfoNavbarContainer{
    display: flex;
    flex-direction: row;
    margin: 15px;
    border-radius:  30px;
    background-color: #374c5f;
    box-shadow: 10px 7px 23px -3px rgba(116,116,116,0.94);
    padding-left: 10px;
    padding-right: 10px;
}

.navLinkApplicant{
    font-weight: bolder;
    color: white !important;
    border-radius: 20px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-right: 10px;
    margin-left: 10px;
}
.navLinkApplicant:hover{
    background: #202c37 ;
    transition: 0.1s;
}
.navLinkApplicant:target{
    color:red !important;
}

.navLinkCoApplicant{
    font-weight: bolder;
    color: white !important;
    border-radius: 20px;
    padding-left: 20px !important;
    padding-right: 20px !important;
   
}
.navLinkCoApplicant:hover{
    background: #293846 ;
    transition: 0.1s;
}


.navBarBrand{
    font-weight: bold;
    color: white !important;;
}






.applicantInfoContainer{
    margin-left: 20px;
    margin-right: 20px;
    animation: translateXApplicant 0.3s;
}
@keyframes translateXApplicant {
    0% {
      opacity: 1;
      transform: translateX(-1000px);
    }
    
    80% {
      transform: translateX(5px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }





.coApplicantInfoContainer{
    animation: translateXCoApplicant 0.3s;
}
@keyframes translateXCoApplicant {
    0% {
      opacity: 1;
      transform: translateX(1000px);
    }
    
    80% {
      transform: translateX(-5px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }