.partFourCard{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    padding:10px;
    flex-wrap: wrap;
}

.formGroupPhone{
    display: Flex;
    flex-direction:row;
    justify-content: space-evenly;
}
