.partFiveCard{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    padding:10px;
    flex-wrap: wrap;
}

.applicationPartFiveFormGroup{
    display: Flex;
    flex-direction:row;
    justify-content: space-evenly;
    width: 100%;
}

.applicationPartFiveInCanadaSince{
    width: 195px;
}