.sidemenu{
    height: 100vh;
    width: 250px;
    background-color: #2F4050 ;

}

.sidemenuList{
    height:auto;
    width: 100%;
    padding: 0;
}

.sidemenuItems{
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
.sidemenuItems:hover{
    cursor:pointer;
    background: #293846 ;
}

.sidemenuItemsIcon{
    flex:30%;
    /* display: flex; 
    justify-content: center; */
    /* just want to show it possible to use grid as well to center */
    display:grid; 
    place-items: center;

}
.sidemenuItemsTitle{
    flex: 70%;
}

#sidemenuListItemActive{
    background: #293846 ;
}


.navBar{
    background-color: #2F4050;
    height: 80px;
    text-align: center;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
}

.navBarTitle{
    flex:50%;
}

.navBarMenuIcon{
    margin-left: 15px;
    transform: scale(1.3);
}

.closeIcon{
    margin-left: 15px;
    color: white;
    transform: scale(1.3);
}