.fourthPartCard{
    display:flex;
    flex-direction:column !important;
    justify-content: flex-start;
    padding:10px;

}
.fourthPartAddressContainer{
    display:flex;
    flex-direction: row;
    height: 200px;
}

.fourthPartSelector{
    width:120px;
}
.fourthPartHouseNumber{
    width: 90px;
    margin-right:5px;
}
.fourthPartAddress{
    width: 200px;
    margin-right:5px;
}
.fourthPartAptNum{
    width:70px;
    margin-right:5px;
}
.fourthPartPostalCode{
    width:120px;
    margin-right:5px;
    margin-left: 5px;
}
.fourthPartFormGroup{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding:5px;
    width:100%;
}

.validationContainerPersonalAddress{
    align-self: center;
}