.chequeInfoCard{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding:15px;
}
.formGroupCheque{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 15px;
    flex-wrap: wrap;
}
