.chequeInfoCard{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding:10px;
}
.formGroupCheque{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 5px;
    margin-top: 5px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.chequeArrayBankName{
    margin-right: 5px;
}
.chequeArrayInstitution{
    margin-right: 5px;
}
.chequeArrayAccountNum{
    margin-right:5px;
}
.chequeArrayTransitNum{
    margin-right:5px;
}
.chequeArrayAddress{
    margin-right:5px;
}
.chequeArrayVerified{
    align-self:center;
    margin: 0 10px 0 20px;
}
.checkContainerCheque{
    width: 170px;
    display:flex;
    height:60px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center !important;
}
.chequeArrayAdd{
    transition:0.2s;
    padding: 5px ;
    transform: scale(2);
    align-self: center;
    margin: 10px;
}
.chequeArrayAdd:hover{
    cursor: pointer;
    transform: scale(2.5);
    transition: 0.2s;
}

.chequeArrayDelete{
    transition:0.2s;
    padding: 5px;
    transform: scale(2);
    align-self: center;
    margin: 10px;
}
.chequeArrayDelete:hover{
    cursor: pointer;
    transform: scale(2.5);
    transition: 0.2s;
}
.validationContainerPersonalCheque{
    align-self: center;
    padding:5px;
}

