.chequeInfoCard{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding:15px;
}
.formGroupCheque{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 15px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.chequeArrayBankName{
    margin-right: 5px;
}
.chequeArrayInstitution{
    margin-right: 5px;
}
.chequeArrayAccountNum{
    margin-right:5px;
}
.chequeArrayTransitNum{
    margin-right:5px;
}
.chequeArrayAdd{
    align-self: center;
}
.chequeArrayDelete{
    align-self:center;
}

