

.employmentInfoLabel{
    text-align: center;
    margin-top:15px;
    margin-bottom: 10px;
}

.employerSection{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.employmentStatus{
    width: 175px;
}
.annualIncome{
    width:165px
}
.industry{
    width:165px
}

.occupation{
    width:165px
}

.employerAddress{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.employerAddressProvince{
    display:flex;
    justify-content: space-evenly;
}
.province{
    width:100px;
}

.currentEmployerCheckBox{
    align-self: center;
}