.familyMemberCard{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.familyInfoLabel{
    text-align: center;
    margin-top: 15px;
}

.formGroupSpouseInfo{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding:10px;
}

.formGroupChildInfo{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding:10px;

}

.inputGroupChild1{
    width:auto;
}

.child1{
    width:200px;
}


.otherChildInputGroup{
    width:auto;
}
.otherChildName{
    width:190px;
}

