.familyMemberCard{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding:15px;
}
.formGroupSpouseInfo{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;

}

.formGroupChildInfo{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.inputGroupChild1{
    width:auto;
}

.child1{
    width:200px;
}


.otherChildInputGroup{
    width:auto;
}
.otherChildName{
    width:190px;
}

.spouseInfoFirstName{
    margin-right: 5px;
}
.spouseInfoLastName{
    margin-right: 5px;
}
.spouseInfoBday{
    margin-right:5px;
}
.child1Name{
    margin-right:5px;
    margin-left: 20px;
}
.child2Name{
    margin-right:5px;
}
.child3Name{
    margin-right:5px;
    margin-left: 20px;
}
.child4Name{
    margin-right:5px;
    margin-left: 20px;
}