.firstPartCard{
    display:flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    flex-wrap: wrap;
}

.firstPartFormGroup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.firstPartFormGroupE{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 300px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.firstPartGenderLabel{
    text-align: center;
    align-self: center;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.firstPartGenderBox{
    align-self: center;
}


.firstPartFormStatusContainer{
    display:flex; 
    justify-content: center;
    margin-left: 10px;
    flex-wrap: wrap;
    width: 900px;
    align-items: center;
    height:60px;
}
.firstPartFormStatusOne{
    display:flex;
    flex-direction: row;
    border:none !important;
    margin:0px 0px 10px 10px !important;
}
.firstPartFormStatusTwo{
    display:flex;
    flex-direction: row;
    border:none !important;
    margin:0px 0px 10px 0px !important;
}

.formStatusItems{
    width: 170px;
    margin-right: 10px;
    
}