.fourthPartCard{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    padding:10px;
    flex-wrap: wrap;

}
.fourthPartSelector{
    width:120px;
}
.fourthPartHouseNumber{
    width: 142px
}
.fourthPartAptNum{
    width:100px;
}
.fourthPartPostalCode{
    width:120px;
}
.fourthPartFormGroup{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding:5px;
    width:100%;
}