

.formPartFive{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border: 1px solid rgb(211, 189, 189);
    border-radius: 5px;
}

.formGroupID{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 15px;
    flex-wrap: wrap;
}

.partFiveIDType{
    margin-right: 5px;
    margin-top: 10px;
}
.partFiveIDNum{
    margin-right: 5px;
    margin-top: 10px;
}
.partFiveIssueDate{
    margin-right: 5px;
    margin-top: 10px;
}
.partFiveExpiryDate{
    margin-right: 5px;
    margin-top: 10px;
}
.partFiveVerificationDate{
    margin-right:5px;
    margin-top: 10px;
}

.issuingProvince{
    width: 200px;
    margin-right:5px;
    margin-top: 10px;
}
.verificationDate{
    width: 180px;
}
.partFiveComment{ 
    margin-right: 5px;
    margin-top: 10px;
    width: 120px;
}
.buttonBox{
    width: 100px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.deleteButton{
    transition:0.2s;
    padding: 5px ;
    transform: scale(2);
}
.deleteButton:hover{
    cursor: pointer;
    transform: scale(2.5);
    transition: 0.2s;

}
.addButton{
    transition:0.2s;
    padding: 5px ;
    transform: scale(2);
}
.addButton:hover{
    cursor: pointer;
    transform: scale(2.5);
    transition: 0.2s;
}

.idSubmitButton{
    align-self: flex-end;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}