.cardPartFive{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 10px;
}

.formGroupID{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 15px;
    flex-wrap: wrap;
}


.partFiveIDType{
    margin-right: 5px;
    margin-top: 10px;
}
.partFiveIDNum{
    margin-right: 5px;
    margin-top: 10px;
}
.partFiveIssueDate{
    margin-right: 5px;
    margin-top: 10px;
}
.partFiveExpiryDate{
    margin-right: 5px;
    margin-top: 10px;
}
.partFiveVerificationDate{
    margin-right:5px;
    margin-top: 10px;
}

.issuingProvince{
    width: 200px;
    margin-right:5px;
    margin-top: 10px;
}
.verificationDate{
    width: 180px;
}
.partFiveComment{ 
    margin-right: 5px;
    margin-top: 10px;
}
