.cardPartFive{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.formGroupID{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top:10px;
    margin-left: 15px;
}
.IdInfo{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top:10px;
    margin-left: 15px;
}

.issuingProvince{
    width: 200px;
}
.previouslyDeclared{
    width: 350px;
}
.verificationDate{
    width: 180px;
}